@import './styles/variables';
.special-container{
  position: relative;
  width:100%;
  background-color: $special-back;
  height: 500px;
  @media screen and (max-width: 600px){
    height: 400px;
  }
  .special-img{
    @media screen and (max-width: 600px){
      right: 2%;
      height: 330px;
      width: 150px;
    }
    position: absolute;
    top: 10px;
    right: 16%;
    height: 410px;
    background-size: contain !important;
    width: 170px;
    background-position: right!important;
    background-repeat: no-repeat!important;
  }
  .specials-btn{
    @media screen and (max-width: 600px){
      right: 2%;
      border: none;
      top: 75%;
      font-size: 12.5px;
    }
    padding: 11px 16px 9px 45px;
    font-size: 14px;
    font-family: digikala;
    line-height: 1.571;
    font-weight: 700;
    border: 1px solid $white;
    color: $white;
    border-radius: 8px;
    position: absolute;
    right: 16.5%;
    top: 87%;
    svg{
      font-size: 14px;
      position: absolute;
      top: 12px;
      left: 13%;
    }
  }
  .special-swiper-container{
    @media screen and (max-width:600px){
      margin-left: 0;
    }
    width: 56.5%;
    margin-left: 14.5%;
    padding-top: 25px;
  }
}
.swiper-button-next{
width: 10px;
  height: 10px;
  background-color: red;
}
.swiper-button-prev{

}