.swiper-img {
  @media screen and (max-width: 600px){
    height: 180px;
  }
  width: 100%;
  height: 452px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 16px;
}