@import "styles/variables";
@import './back-to-top.module';
.footer-support-container{
  @media screen and (max-width:600px){
    width: 90% !important;
    margin: 20px auto;
  }
  .support-text{
    font-size: 13px;
    font-family: digikala;
    color: $footer-support;
    margin-top: 10px;
    direction: rtl;
    @media screen and (max-width:600px){
      span{
        display: block;
        line-height: 25px;
      }
      .responsive-none{
        font-size: 12px;
        color: $input-email-color;
      }
    }
  }
  .footer-features-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row-reverse;
    border-bottom: 1px solid $btn-border;
    padding: 25px 0;
    margin-top: 10px;
    @media screen and (max-width: 600px){
      display: none;
    }
    .feature-item-container{
      font-family: digikala;
      div{
        direction: rtl;
        font-size: .765rem;
        line-height: 21px;
        color: $footer-support;
      }
      img{
        cursor: pointer;
        height: 45px;
        width: 45px;
      }
    }
  }
  width: 70%;
  margin: 30px auto;
}