@import "styles/variables";
.footer-support-container{
  .back-to-top-container{
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    img{
      width: 113.33px;
      height: 30px;
    }
    span{
      bottom: 1.5px;
      left: 8px;
      position: absolute;
    }
    .back-to-top {
      position: relative;
      direction: rtl;
      cursor: pointer;
      white-space: nowrap;
      border: 1px solid $icon-gray;
      border-radius: 8px;
      height: 40px;
      color: $icon-gray;
      padding: 5px 16px 5px 40px;
      font-family: digikala;
    }
  }
  .support-text{
    font-size: 13px;
    font-family: digikala;
    color: $footer-support;
    margin-top: 10px;
    direction: rtl;
  }
  .footer-features-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row-reverse;
    border-bottom: 1px solid $btn-border;
    padding: 25px 0;
    margin-top: 10px;
    .feature-item-container{
      font-family: digikala;
      div{
        direction: rtl;
        font-size: .765rem;
        line-height: 21px;
        color: $footer-support;
      }
      img{
        cursor: pointer;
        height: 45px;
        width: 45px;
      }
    }
  }
  width: 70%;
  margin: 30px auto;
}