@import 'styles/variables';
.copy-right , .copy-right-responsive{
  font-family: digikala;
  direction: rtl;
  font-size: 14px;
  margin: -10px 0 10px 0;
  color: $input-email-color;
  text-align: center;
}
.copy-right{
  @media screen and (max-width: 600px){
    display: none;
  }
}
.copy-right-responsive{
  font-size: 12px;
  margin:-10px 10px;
  @media screen and (min-width: 600px){
    display: none;
  }
}
.about-container{
  @media screen and (max-width:600px){
    width: 100%;
    flex-direction: column-reverse;
  }
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  direction: rtl;
  margin: 30px auto;
  border-bottom: 1px solid $footer-border;
  .trust-container{
      margin-right: 25px;
    @media screen and (max-width : 600px){
      margin: 5px auto;
    }
    display: flex;
    .trust-items{
      @media screen and (max-width : 600px){
        width: 105px;
        height: 105px;
        margin:4px;
      }
      width: 120px;
      height: 120px;
      padding: 18px 24.87px 17.14px 24.86px;
      border-radius: 8px;
      border: 1px solid $footer-border;
      margin: 6px;
    }
  }
  .about-text{
    font-family: digikala;
    margin-top: 45px;
    .about-title{
      font-size: 14px;
      font-weight: 700;
      color: $footer-support;
    }
    .about-paragraph{
      font-size: 12px;
      line-height: 26px;
      color: $input-email-color;
      direction: rtl;
      overflow: hidden;
      margin: 0;
    }
    .more-toggle{
      font-family: digikala;
      cursor: pointer;
      padding: 0 0 10px 0;
      font-size: 12px;
      line-height: 217%;
      font-weight: 700;
      color: #a1a3a8;
      span{
        position: absolute;
      }
    }
    .less{
      margin-bottom: 15px;
      height: 85px;
    }
    .more{
      height: fit-content;
    }
  }
}