@import 'styles/variables';
.about-container{
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  direction: rtl;
  margin: 30px auto;
  border-bottom: 1px solid $footer-border;
  .trust-container{
    margin-right: 25px;
    display: flex;
    .trust-items{
      width: 120px;
      height: 120px;
      padding: 18px 24.87px 17.14px 24.86px;
      border-radius: 8px;
      border: 1px solid $footer-border;
      margin: 6px;
    }
  }
  .about-text{
    font-family: digikala;
    .about-title{
      font-size: 14px;
      font-weight: 700;
      color: $footer-support;
    }
    .about-paragraph{
      font-size: 12px;
      line-height: 26px;
      color: $input-email-color;
      direction: rtl;
      overflow: hidden;
      margin: 0;
    }
    .more-toggle{
      font-family: digikala;
      cursor: pointer;
      padding: 0 0 10px 0;
      font-size: 12px;
      line-height: 217%;
      font-weight: 700;
      color: #a1a3a8;
      span{
        position: absolute;
      }
    }
    .less{
      margin-bottom: 15px;
      height: 85px;
    }
    .more{

      height: fit-content;
    }
  }
}