@import './styles/variables';
.hover-items{
  &:hover{
    color: $special-back;
  }
  cursor: pointer;
}
.category-detail-container{
  svg{
    font-size: 12px;
    margin-bottom: -2px;
    margin-right: -5px;
  }
  .category-title {
    width: 100%;
    padding-top: 4px;
    color: $footer-support;
    font-size: 12px;
  }
  .category-detail-container-flex {
    font-family: digikala;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
    .group-detail-item {
      width: 150%;
      height: fit-content;
      img{
        position: absolute;
        left: -420%;
        border-radius: 16px;
        width: 283px;
      }
      .detail-title {
        @extend .hover-items;
        font-size: 14px;
        color: $footer-support;
        margin: 2px 0;
      }
      svg{
        font-size: 12px;
        margin-bottom: -2px;
        margin-right: -5px;
      }
      .detail-items {
        .detail-item{
          @extend .hover-items;
          padding: 6px 0;
        }
        font-size: 12px;
        color: $card-title;
      }
    }
  }
}