@import './styles/variables';
.all-categories {
  z-index: 50;
  position: absolute;
  right: 0;
  top: 48px;
  width: 115%;
  background-color: $white;
  border-radius: 0 0 8px 8px;
  .category-detail-container{
    display: none;
    position: absolute;
    top: 0;
    right: 215px;
  }
  .category-item {
    color: $sign-in-color;
    padding: 14px 8px;
    font-size: 12px;
    cursor: pointer;
    border-left: 1px solid $input-back;
    width: 210px;
    &:hover{
      padding: 13px 8px;
      color: $special-back;
      background-color: $nav-hover;
      border-top: 1px solid $input-back;
      border-bottom: 1px solid $input-back;
      & + .category-detail-container{
        display: block;
      }
    }
  }
}