@import "styles/variables";

.mobile-header{
  background-color: $white;
  width: 100%;
  svg{
    color:$footer-support;
  }
  .input-row{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between !important;
    border-top: 1px solid $divider-color;
  }
  .location-row{
    padding: 6px 0;
    font-family: digikala;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
    .arrow-icon{
      svg{
        padding: 2px;
        color: $icon-gray;
        margin-left: 10px;
      }
    }
    .location-text{
      margin-right: 13px;
      flex-direction: row-reverse;
      display: flex;
      direction: rtl;
      span{
        font-size: 12px;
        line-height: 28px;
      }
    }
    svg{
      margin-left: 10px;
      color: $responsive-svg-color;
      direction: ltr;
    }
  }
  .mobile-header-row {
    display: flex;
    padding: 10px 0;
    flex-direction: row-reverse;
    justify-content: space-between;

    .digikala-icon{
      img{
        width: 93px!important;
        height: 25px!important;
      }
    }
    .chat-box-icon,.menu-icon{
      text-align: center;
      width: 60px;
    }
    .input-container{
      position: relative;
      svg{
        position: absolute;
        right: 6px;
        top: 5px;
        color: $icon-gray;
      }
      input{
        padding: 10px 18px 14px 20px;
        border-radius: 8px;
        background-color: $input-back;
        &::placeholder{
          font-family: digikala;
          color: $icon-gray;
        }
      }
    }
    .login-container{
      display: flex;
      flex-direction: row;
      font-family: digikala;
      span{
        border-left: 1px solid $divider-color;
        padding-left: 10px;
        font-size: 14px;
        margin-top: 5px;
        padding-right: 5px;
        height: 20px;
      }
        svg{

        }
    }
    .basket-container{
        padding: 0 0 0 15px;
    }
  }
}