@media screen and (max-width:600px){
  .responsive-show{
    display: block;
  }
  .responsive-hidden{
    display: none;
  }
}
@media screen and (min-width:600px){
  .responsive-show{
    display: none;
  }
  .responsive-hidden{
    display: block;
  }
}