@import './styles/variables';
@import 'components/specials/specialCard/scss/special-card-details';
.card-container {
  cursor: pointer;
  background-color: $white;
  height: 440px;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 50% 10% 13% 17%;
  padding: 5px 15px 16px;
  margin: 10px;
  direction: rtl;
  width: 259px;
  @media screen and (min-width: 1000px) and (max-width: 1450px){
    width: 200px;
  }
  .card-img {
    width: 180px;
    height: 180px;
    background-size: cover !important;
    margin: 30px auto;
  }
  @media screen and (max-width: 600px){
    height: 330px;
    width: 95%;
    margin: 10px 0;
    .card-img {
      width: 120px;
      height: 120px;
      margin: 15px auto;
    }
  }
  .card-title {
    color: $card-title;
    font-family: digikala;
    font-size: .75rem;
    line-height: 25px;
    margin: 5px 15px;
    @media screen and (max-width: 600px){
      margin: -10px 15px;
    }
  }
  .card-digi-plus {
    font-family: digikala;
    color: $card-digi-plus;
    font-size: .75rem;
    line-height: 1.833;
    padding-right: 20px;
    margin-top: 20px;
    margin-right: 5px;
    position: relative;
    content: "";
    .digi-plus-icon {
      right: 0;
      position: absolute;
      top: 2px;
    }
  }
}