.ad-image-container-center{
  width: 70%;
  cursor: pointer;
  img{
    height: 85px !important;
    border-radius: 16px;
  }
  margin: 10px auto 0 auto;
}
.swiper-and-card-container{
  width: 70%;
  display: grid;
  grid-template-columns: 32% 68%;
  margin: 0 auto;
  .swiper-container{
  margin: 13px;
  }
}