.ad-image-container-center{
  @media screen and (max-width:600px){
    width: 95%;
    img{
      height: 53px !important;
      border-radius: 16px;
    }
  }
  width: 70%;
  cursor: pointer;
  img{
    height: 85px ;
    border-radius: 16px;
  }
  margin: 10px auto 0 auto;
}
.swiper-and-card-container{
  width: 70%;
  display: grid;
  grid-template-columns: 33% 68%;
  margin: 0 auto;
  .swiper-container{
  margin: 13px;
  }
}