@import './styles/variables';
.categories-container{
  @media screen and (max-width: 600px){
    width: 90%;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: -10px;
    h3{
      font-size: 14px !important;
      text-align: right !important;
      padding-top: 0 !important;
    }
  }
  width: 70%;
  margin: 0 auto;
  border-radius: 8px;
  height: 185px;
  box-shadow: 0 2px 4px 0 #0000001a;
  background-color: $white;
  h3{
    padding-top:15px;
    color: $categories-title;
    font-size: 19px;
    font-weight: normal;
    font-family: digikala;
    text-align: center;
  }
  .items-container{
    @media screen and (max-width: 600px){
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }
    display: flex;
    flex-direction: row-reverse;
  }
}