@import './styles/variables';
.categories-container{
  width: 71%;
  margin: 0 auto;
  border-radius: 8px;
  height: 185px;
  box-shadow: 0 2px 4px 0 #0000001a;
  background-color: $white;
  h3{
    padding-top:15px;
    color: $categories-title;
    font-size: 19px;
    font-weight: normal;
    font-family: digikala;
    text-align: center;
  }
  .items-container{
    display: flex;
    flex-direction: row-reverse;
  }
}