@import './styles/variables';
.navigation-container{
  box-shadow: 0 7px 8px 0 #0000000a;
  display: flex;
  background-color: $white;
  height: 48px;
  width: 100%;
  .location-container{
    height: 100%;
    width: 18%;
    text-align: right;
    color: $sign-in-color;
    font-size: 12px;
    font-family: digikala;
    display: flex;
    direction: rtl;
    flex-direction: row;
    align-items: center;
    span{
      svg{
        margin-right: 10px;
        font-size: 17px;
      }
    }
  }
  .navbar-container{
    font-family: digikala;
    direction: rtl;
    width: 75%;
    display: flex;
    flex-direction: row;
    position: relative;
    .navbar-item{
      cursor: pointer;
      padding: 16px 12px 11px;
      font-size: 12px;
      color: $sign-in-color;
      display: inline-block;
      position: relative;
      &:hover{
        &:before , &:after{
          width: 50%;
        }
        .drop-down{
          display: block;
        }
      }
      &:before , &:after{
        transition: width .4s ;
        bottom: 0;
        position: absolute;
        content: '';
        width: 0;
        border-bottom: 2px solid $special-back;
      }
      &:after{
        direction: ltr;
        right: 0;
      }
      &:before{
        direction: rtl;
        left: 0;
      }
      .drop-down{
        z-index: 10;
        position: absolute;
        top: 48px;
        right: -200%;
        display: none;
        height: 50px;
      }
    }
  }
}