@import './styles/variables';
.categories-container{
  display: grid;
  font-family: digikala;
  direction: rtl;
  grid-template-rows: 50% 50% 1%;
  width: 133px;
  cursor: pointer;
  text-align: center;
  @media screen and (max-width: 600px){
    width: 95px;
  }
  .categories-icon{
    svg{
      font-size: 40px;
      color: $categories-items;
    }
  }
  .categories-title{
    @media screen and (max-width: 600px){
      display: none;
    }
    white-space: nowrap;
    color: $categories-item-title;
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
  }
  .categories-product{
    @media screen and (max-width: 600px){
      display: none;
    }
    font-size: 11px;
    color: $categories-items;
  }
}