@import 'styles/variables';
@import './download-item';
.footer-download-container {
  .footer-download {
    background-color: $footer-download-back;
    padding: 16px 20px;
    height: 76px;
    font-family: digikala;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 70%;
    position: relative;
    @media screen and (max-width: 600px) {
      background-color: transparent;
      padding: 0;
      width: 95%;
    }
    .more-items {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      @media screen and (max-width: 600px){
        position: absolute;
        top: 25px;
        right: 0%;
      }
    }
    .downloads {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 600px){
        display: block;
      }
    }
    .download-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 600px) {
        height: fit-content;
      }
      .label {
        font-size: 18px;
        margin: 0 15px;
        color: $white;
        @media screen and (max-width: 600px) {
          color: $footer-support;
          text-align: right;
          font-size: 14px;
          margin: 0;
          white-space: nowrap;
          & + img {
            display: none;
          }
        }
      }
    }
  }
}