.sponsered-ad-container{
  width: 71.4%;
  margin: 28px auto 5px auto;
  img{
    background-size: cover !important;
    background-position: center!important;
    width: 319px;
    height: 240px;
    display: inline-block;
    margin: 10px;
  }
}