$icon-gray : #a1a3a8;
$white : #fff;
$input-color : #474747;
$btn-border : #e0e0e2;
$input-back : #f0f0f1;
$sign-in-color : #616161;
$body-back : #f5f5f5;
$special-back : #ef394e;
$card-title : #4a5f73;
$card-digi-plus : #62666d;
$progress-bar-back :#e2e2e2;
$discount-btn : #fb3449;
$old-price : #acacac;
$light-border : #dfdfdf;
$category-title : #515151;
$single-pic-container-border : #00bfd64d;
$category-card-title : #535353;
$single-item-title : #6e6e6e;
$categories-title : #656565;
$categories-items : #00bfd6;
$categories-item-title : #2a2a2a;
$footer-support : #424750;
$input-email-color : #81858b;
$footer-download-back :#3c4b6d;
$footer-border : #e5e5ea;
$divider-color : #eee;