@import './styles/variables';
.card-container {
  cursor: pointer;
  background-color: $white;
  height: 320px;
  display: grid;
  grid-template-rows: 50% 25% 0;
  border-radius: 8px;
  padding: 5px 15px 16px;
  margin: 10px;
  direction: rtl;
  width: fit-content;
  .card-img {
    width: 136px;
    height: 136px;
    background-size: cover !important;
  }
  .card-title {
    color: $category-title;
    font-family: digikala;
    font-size: .75rem;
    line-height: 25px;
    text-align: right;
    margin-top: 14px;
  }
}
.card-container{
  .prices-container {
    margin-top: 15px;
    direction: ltr;
    position: relative;
    font-family: digikala;
    .discount {
      background-color: $discount-btn;
      font-weight: 700;
      width: fit-content;
      color: $white;
      font-size: 11px;
      border-radius: 20px;
      padding: 4px 7px 1px;
      letter-spacing: 0;
      margin-bottom: 3px;
    }
    .old-price {
      color: $old-price;
      position: absolute;
      top: 2px;
      font-size: 14px;
      left: 40px;
      left: 40px;
      &:before {
        width: 100%;
        height: 9px;
        position: absolute;
        content: " ";
        border-bottom: 1px solid $old-price;
      }
    }
    .new-price {
      font-weight: 700;
      direction: rtl;
      text-align: left;
      .currency-price{
        font-size: 13px;
        font-weight: normal;
      }
    }
  }
  .class {
    font-size: 12px;
    margin: 10px 0;
    color: $old-price;
    font-family: digikala;
  }
}